.comment-form {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-sm);
    margin-top: var(--spacing-md);
}

.comment-form h3 {
    font-size: var(--font-size-lg);
    font-weight: var(--font-weight-medium);
}

.comment-form-rating-container {
    display: flex;
    align-items: center;
    gap: var(--spacing-sm);
}

.comment-form-rating-container span {
    font-size: var(--font-size-md);
    color: var(--color-gray-700);
}
